*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1664b2;
    flex-direction: column;
}
.container{
    margin-top:50px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 20px;
    background-color: #23333f;
    padding: 40px 60px;
}
h1{
    font-size: 3em;
    color:#fff;
    letter-spacing: 0.1em;
}
.reset{
    padding:15px 20px;
    letter-spacing: 0.2em;
    color: #1f88d9;
    border: #216091;
    border-radius: 0.2em;
    font-size:1.2em;
    font-weight: 600;
    cursor: pointer;
}
.reset:hover{
    opacity:.8;

}
.reset:focus{
    color:white;
    background: black;
}
.game{
    width:430px;
    height: 430px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    transform-style: preserve-3d;
    perspective: 500px;
}



.item{
    position:relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: white;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item::after{
    content:'';
    position: absolute;
    inset: 0;
    background:rgb(172, 152, 23);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen:after,.boxMatch:after
{
    transform: rotateY(180deg);
}


.InvisibleDiv{
    display:flex;
    height:50px;

}

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
.footer {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: #0fb692;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CopyRight{
    margin-top: 1px;
  }



  /*BUTTON*/
@import url('//codepen.io/chrisdothtml/pen/ojLzJK.css');

/* Custom variables */
:root {
  --btn-size: 30px;
}

/* Custom colors for social sites */
:root {
  --facebook: #3B5998;
  --twitter: #3CF;
  --google: #DC4A38;
  --dribbble: #F26798;
  --skype: #00AFF0;
  --instagram: #d42795;
}

/* Button styles */
.social-btns {
  height: var(--btn-size);
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-btns .btn {
  display:inline-block;
  background-color: #fff;
  width: var(--btn-size);
  height: var(--btn-size);
  line-height: var(--btn-size);
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99; /* Overflow bug fix */
}

.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.101, -0.105, 0.43, 1.59);
}

.social-btns .btn .fa {
  font-size: 18px;
  vertical-align: middle;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.101, -0.105, 0.43, 1.59);
}

/* Inactive button styles */
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}

.social-btns .btn .fa {
  transform: scale(0.8);
}

.social-btns .btn.facebook:before {
  background-color: var(--facebook);
}

.social-btns .btn.facebook .fa {
  color: var(--facebook);
}

.social-btns .btn.twitter:before {
  background-color: var(--twitter);
}

.social-btns .btn.twitter .fa {
  color: var(--twitter);
}

.social-btns .btn.google:before {
  background-color: var(--google);
}

.social-btns .btn.google .fa {
  color: var(--google);
}

.social-btns .btn.dribbble:before {
  background-color: var(--dribbble);
}

.social-btns .btn.dribbble .fa {
  color: var(--dribbble);
}

.social-btns .btn.skype:before {
  background-color: var(--skype);
}

.social-btns .btn.skype .fa {
  color: var(--skype);
}

.social-btns .btn.instagram:before {
  background-color: var(--instagram);
}

.social-btns .btn.instagram .fa {
  color: var(--instagram);
}

/* Active button styles */
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  transform: scale(1);
}
